// Front-end Style Guide

// Layout

$breakpoint:( 
    Mobile:375px,
    Desktop:1440px,
     );
   


// Colors

// Primary

$Strong_cyan: hsl(172, 67%, 45%);

// Neutral

$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan: hsl(186, 14%, 43%);
$Grayis_cyan: hsl(184, 14%, 56%);
$Light_grayish_cyan: hsl(185, 41%, 84%);
$Very_light_grayis_cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

